<link type="text/css" rel="stylesheet" href="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/directory/preceptor/preceptor-styles.css">
<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/angular-js/angularjs.min.js"></script>

<section data-ng-app="directory" data-ng-controller="preceptorController" data-ng-cloak>
  <table class="preceptor-table">
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="x in people">
        <td>{{ x.preceptDept }}</td>
        <td>
          <b>{{ x.name.firstName }} {{ x.name.lastName }}</b><br>
          {{ x.title }}
        </td>
        <td>
          <ul>
            <li data-ng-if="x.phone">Phone: <a data-ng-href="tel:{{ x.phone }}">{{ x.phone }}</a></li>
            <li data-ng-if="x.email">Email: <a data-ng-href="mailto:{{ x.email }}">{{ x.email }}</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/directory/directory-service.js"></script>
<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/directory/directory-app.js"></script>
<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/directory/preceptor/preceptor-controller.js"></script>
