.preceptor-table thead {
  background: #000;
  color: #fff;
}

.preceptor-table th {
  padding: 10px 5px;
}

.preceptor-table td,
.preceptor-table th {
  vertical-align: middle;
}

.preceptor-table tr > * {
  border-right: 1px solid #fff;
}

.preceptor-table tr > *:last-child {
  border-right: 0;
}

.preceptor-table tbody ul {
  margin: 0;
  margin-left: 0!important
}

.preceptor-table tbody li {
  list-style-type: none;
  margin-left: 0!important;
}

.preceptor-table tbody tr:nth-child(2n - 1) {
  background: #e1e1e1;
}

.preceptor-table tbody td {
  font-size: 1em;
  line-height: 14.4px;
  padding: 1em;
}
