h1 {
  color: #565a5c;
  font-family: MuliRegular, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
}

a:link.button {
  background: black;
  color: white;
  display: inline-block;
  font-size: .85rem;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

a:hover.button {
  color: #cfb87c;
  text-decoration: none;
}

a:visited.button {
  color: white;
  text-decoration: none;
}

figcaption {
  text-align: center;
}

ul.disc>li {
  list-style-type: disc !important;
}

.after-apply {
  display: table-row;
}

.after-apply section {
  display: table-cell;
  height: 130px;
  padding: 10px 20px;
  width: 30%;
}

.after-apply section:first-child {
  border-right: 1px solid #ddd;
}

.after-apply section:last-child {
  border-left: 1px solid #ddd;
}

.align-self-end {
  align-self: flex-end;
}

.around {
  justify-content: space-around;
}

.background-light-gray {
  background: whitesmoke;
}

.banner-image {
  height: auto;
  margin-bottom: 1.5rem;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.between {
  justify-content: space-between;
}

.block-display {
  display: block;
}

.center {
  text-align: center;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.e1-background {
  background: #e1e1e1;
}

.faux-link {
  color: #004D81;
}

.faux-link:hover {
  text-decoration: underline;
}

.flex-column {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.gold-background {
  background: #cfb87c;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.menu-vertical {
  border: 0;
}

.sidebarInfo dl {
  margin: 2px 6px;
}

.sidebarInfo dt {
  font-size: 1em;
  font-weight: bold;
  margin: 2px 2px 0 0;
  padding: 0;
}

.sidebarInfo dd {
  margin: -4px 0 0 10px;
  padding: 0;
}

.whitesmoke-background {
  background: whitesmoke;
}

#contentPage0 #columnPrimary {
  max-width: 912px;
}

#contentPage0 #columnPrimaryWrapper,
#contentPage2 #columnPrimary,
#tabsPage #columnPrimary {
  border: none;
}

#pageContentInner {
  border: 0;
}

#Welcome4 #columnPrimary .cta-button {
  margin: 2.5em auto 1em auto;
  float: none;
}

/************ Scholarship Page Table Overrides ************/
x
#pageContent #scholarshipTable table.ms-listviewtable td.ms-vb2 {
  border-bottom: 1px solid #e1e1e1;
}

#pageContent #scholarshipTable table.ms-listviewtable td {
  padding: 1.15rem .5rem .5rem 1rem
}

/************ Table Style Overrides ************/

th.ms-vh2 {
  color: #fff;
  padding-left: 5px;
}

.ms-alternating {
  background-color: #fff;
}



/**********************************************************
    
            Accordion Widget Overrides

**********************************************************/

/************ Inline Accordions ************/

#accordion .accordion_header {
  background: none;
  border: 1px solid #ddd !important;
  font-size: .85rem;
  font-weight: normal;
  line-height: normal;
  margin-top: .5rem;
  padding: 1rem;
  text-align: center !important;
}

#accordion .accordion_header:first-child {
  margin-top: 0;
}

#accordion .accordion_header:hover {
  border-color: #cfb87c !important;
}

#accordion .accordion_body {
  background: whitesmoke !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  color: #474A4C;
  padding: 1rem;
}

#accordion .active {
  background: none !important;
}


/************ Webpart Accordions ************/

.ms-WPBody h3.ui-accordion-header,
.ui-accordion-header {
  border: 1px solid #cecece;
  color: #474A4C;
  font-weight: normal;
  font-size: .85rem !important;
  line-height: initial;
  margin-top: .5rem;
  padding: 1rem;
  text-align: center;
}

.ms-WPBody h3.ui-accordion-header:first-child,
.ui-accordion-header:first-child {
  margin-top: 0;
}

h3.ui-accordion-header:hover,
.ms-WPBody .accordionWebPart h3.ui-state-active:hover,
.ui-accordion-header:hover {
  border-color: #cfb87c;
}

.ms-WPBody .accordionWebPart h3.ui-state-active {
  background: 0;
  background-color: #fff;
  border: 1px solid #cecece;
  color: #474A4C;
  font-weight: normal;
}

.ms-WPBody .ui-accordion-header span.iconSpace {
  margin-left: 0;
  text-align: center !important;
}

.ms-WPBody .ui-accordion-content h3,
.ms-WPBody .ui-accordion-content h4 {
  padding: 0 !important;
}

.ui-accordion-content {
  background: whitesmoke;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  color: #474A4C;
  padding: 1rem;
}

.ui-accordion-header .ui-icon {
  display: none;
}

.ui-state-active {
  background: #fff;
}



/**********************************************************
    
        Custom Styles for Programs Landing Page

**********************************************************/

#labelWrapper {
  margin: 2rem 0;
  text-align: center;
}

#programSorting input[type="radio"] {
  display: none;
  margin: 0;
}

#programSorting label {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 3px;
  min-width: 12%;
  padding: 10px;
  text-align: center;
}

#programSorting label:hover {
  cursor: pointer;
  background: #cfb87c;
}

#programSorting label.active {
  background: #cfb87c;
}



/******************** Program Cards ********************/

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  min-height: 170px;
}

.program-cards>div {
  margin-bottom: 2rem;
}

.program-cards .toggle-content a {
  background: #000;
  border-radius: 6px;
  color: white;
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  padding: .5rem;
}

.program-cards .toggle-content a:hover {
  color: #cfb87c;
  text-decoration: none;
}

.program-cards .toggle-content,
.program-cards .toggle-target {
  width: 355px;
}



/**********************************************************
    
        Custom Styles for Admissions Pages

**********************************************************/


.admissions#accordion {
  margin-top: 2rem;
}

.admissions#accordion .accordion_list {
  margin-bottom: 3rem;
}

.admissions#accordion .accordion_list>h3 {
  margin-bottom: 2rem;
}

.admissions.next-steps>h3 {
  margin-bottom: 2rem;
}

.admissions.next-steps>ul {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}



/**********************************************************
    
                    Next Steps

**********************************************************/

.next-steps {
  margin-top: 2rem;
}

.next-steps ul {
  list-style-type: none;
  margin-left: 0 !important;
  padding: 0;
  text-align: center;
}

.next-steps li {
  display: inline-block;
  margin: 0 !important;
}

.next-steps a {
  background: black;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: .85rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 135px;
}

.next-steps a:hover {
  color: #cfb87c;
  text-decoration: none;
}

.next-steps a.auto-width {
  width: auto;
}

.next-steps a.full-width {
  width: 100%;
}



/**********************************************************
    
              Custom Margins and Padding

**********************************************************/

/******************** Margins ********************/

.margin-bottom-large {
  margin-bottom: 5rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-x-small {
  margin-bottom: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-x-small {
  margin-left: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-x-small {
  margin-right: 1rem;
}

.margin-top-large {
  margin-top: 5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-x-small {
  margin-top: 1rem;
}

.margin-vertical-large {
  margin: 5rem 0;
}

.margin-vertical-medium {
  margin: 3rem 0;
}

.margin-vertical-small {
  margin: 2rem 0;
}

.margin-vertical-x-small {
  margin: 1rem 0;
}

/******************** Padding ********************/

.padding-bottom-large {
  padding-bottom: 5rem;
}

.padding-bottom-medium {
  padding-bottom: 3rem;
}

.padding-bottom-small {
  padding-bottom: 2rem;
}

.padding-bottom-x-small {
  padding-bottom: 1rem;
}

.padding-left-small {
  padding-left: 2rem;
}

.padding-left-x-small {
  padding-left: 1rem;
}

.padding-right-small {
  padding-right: 2rem;
}

.padding-right-x-small {
  padding-right: 1rem;
}

.padding-small {
  padding: 2rem;
}

.padding-top-large {
  padding-top: 5rem;
}

.padding-top-medium {
  padding-top: 3rem;
}

.padding-top-small {
  padding-top: 2rem;
}

.padding-top-x-small {
  padding-top: 1rem;
}

.padding-vertical-large {
  padding: 5rem 0;
}

.padding-vertical-medium {
  padding: 3rem 0;
}

.padding-vertical-small {
  padding: 2rem 0;
}

.padding-vertical-x-small {
  padding: 1rem 0;
}

.padding-x-small {
  padding: 1rem;
}