/* development notes/reminders to add missing links, TBD items, etc. */
/*.dev-note
{
    display: inline-block;
    background: #fc0 url(dev_note.png) no-repeat left center;
    border: solid 1px #c33;
    color: #000;
    padding: 0 4px 0 16px;
    margin: 0 4px;
    font-size: 9px;
    font-weight: bold;
}*/

/* end dev-note */

h1 {
  color: #565a5c;
  font-family: MuliRegular, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
}

a:link.button {
  background: black;
  color: white;
  display: inline-block;
  font-size: .85rem;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

a:hover.button {
  color: #cfb87c;
  text-decoration: none;
}

a:visited.button {
  color: white;
  text-decoration: none;
}

.align-self-end {
  align-self: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.block-display {
  display: block;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.e1-background {
  background: #e1e1e1;
}

.flex-column {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.gold-background {
  background: #cfb87c;
}

.menu-vertical {
  border: 0;
}

.sidebarInfo dl {
  margin: 2px 6px;
}

.sidebarInfo dt {
  font-size: 1em;
  font-weight: bold;
  margin: 2px 2px 0 0;
  padding: 0;
}

.sidebarInfo dd {
  margin: -4px 0 0 10px;
  padding: 0;
}

.whitesmoke-background {
  background: whitesmoke;
}

#contentPage0 #columnPrimary {
  max-width: 912px;
}

#contentPage0 #columnPrimaryWrapper,
#contentPage2 #columnPrimary,
#tabsPage #columnPrimary {
  border: none;
}

#pageContentInner {
  border: 0;
}

#Welcome4 #columnPrimary .cta-button {
  margin: 2.5em auto 1em auto;
  float: none;
}

/************ Scholarship Page Table Overrides ************/

#scholarshipTable .ms-v2,
#scholarshipTable .ms-vh2 {
  color: #fff;
}

#pageContent #scholarshipTable table.ms-listviewtable td.ms-vb2 {
  border-bottom: 1px solid #e1e1e1;
}

#pageContent #scholarshipTable table.ms-listviewtable td {
  padding: 1.15rem .5rem .5rem 1rem
}

#scholarshipTable table.ms-listviewtable tr:nth-child(2n),
#scholarshipTable .ms-alternating {
  background: #fff;
}

/************ Table Style Overrides ************/

table[summary="amc-cusna-officers "] th.ms-vh2,
table[summary="direct-primary-pricing "] th.ms-vh2,
table[summary="psych-np-pricing "] th.ms-vh2,
table[summary="social-worker-psych-pricing "] th.ms-vh2,
table[summary="south-denver-cusna-officers "] th.ms-vh2 {
  color: #fff;
  padding-left: 5px;
}

table[summary="amc-cusna-officers "] .ms-alternating,
table[summary="direct-primary-pricing "] .ms-alternating,
table[summary="psych-np-pricing "] .ms-alternating,
table[summary="social-worker-psych-pricing "] .ms-alternating,
table[summary="south-denver-cusna-officers "] .ms-alternating {
  background-color: #fff;
}



/**********************************************************
    
        Custom Styles for Programs Landing Page

**********************************************************/

.banner-image {
  height: auto;
  margin-bottom: 1.5rem;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.center {
  text-align: center;
}

#labelWrapper {
  margin: 2rem 0;
  text-align: center;
}

#programSorting input[type="radio"] {
  display: none;
  margin: 0;
}

#programSorting label {
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 3px;
  min-width: 12%;
  padding: 10px;
  text-align: center;
}

#programSorting label:hover {
  cursor: pointer;
  background: #cfb87c;
}

#programSorting label.active {
  background: #cfb87c;
}



/******************** Program Cards ********************/

.hidden {
  display: none;
}

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  min-height: 170px;
}

.program-cards>div {
  margin-bottom: 2rem;
}

.toggle-target,
.toggle-content,
.toggle-content a {
  display: block;
}

.toggle-content {
  background: whitesmoke;
  border: 1px solid #ddd;
  border-top: none;
  display: none;
  padding: 1rem .75rem;
  width: 350px;
}

.toggle-content a {
  background: #000;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  padding: .5rem;
}

.toggle-content a:hover {
  color: #cfb87c;
  text-decoration: none;
}

.toggle-target {
  color: #000;
  border: 1px solid #ddd;
  font-size: .85rem;
  padding: 1rem .75rem;
  width: 350px;
  text-align: center;
}

.toggle-target:hover {
  border-color: #cfb87c;
  cursor: pointer;
  text-decoration: none;
}



/******************** Next Steps ********************/

.next-steps {
  margin-top: 2rem;
}

.next-steps ul {
  list-style-type: none;
  margin-left: 0 !important;
  padding: 0;
  text-align: center;
}

.next-steps li {
  display: inline-block;
  margin: 0 !important;
}

.next-steps a {
  background: black;
  color: white;
  display: inline-block;
  font-size: .85rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 135px;
}

.next-steps a:hover {
  color: #cfb87c;
  text-decoration: none;
}

.next-steps a.auto-width {
  width: auto;
}

/**********************************************************
    
            Event Page Table Overrides

**********************************************************/

#conEvents table.ms-listviewtable tr:nth-child(2n),
#conEvents .ms-alternating {
  background: #fff;
}

#conEvents table[summary="event-list "] {
  border-spacing: 0 1rem;
}

#conEvents tr {
  height: 90px;
}

#conEvents .date {
  background: #ddd;
  color: #fff !important;
  margin-right: 1.5rem;
  padding: 6px;
  width: 90px;
}

#conEvents .day {
  display: block;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

#conEvents .details {
  padding-left: 1.5rem;
}

#conEvents .details a {
  display: block;
  font-size: .85rem;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}

#conEvents .event-title {
  display: block;
}

#conEvents .month {
  display: block;
  font-size: 1.25rem;
  margin-top: 9px;
  text-align: center;
  text-transform: uppercase;
}

#conEvents .ms-viewheadertr.ms-vhltr{
  display: none;
}



/**********************************************************
    
              Custom Margins and Padding

**********************************************************/

/******************** Margins ********************/

.margin-bottom-large {
  margin-bottom: 5rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-x-small {
  margin-bottom: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-x-small {
  margin-left: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-x-small {
  margin-right: 1rem;
}

.margin-top-large {
  margin-top: 5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-x-small {
  margin-top: 1rem;
}

.margin-vertical-large {
  margin: 5rem 0;
}

.margin-vertical-medium {
  margin: 3rem 0;
}

.margin-vertical-small {
  margin: 2rem 0;
}

/******************** Padding ********************/

.padding-bottom-large {
  padding-bottom: 5rem;
}

.padding-bottom-medium {
  padding-bottom: 3rem;
}

.padding-bottom-small {
  padding-bottom: 2rem;
}

.padding-bottom-x-small {
  padding-bottom: 1rem;
}

.padding-left-small {
  padding-left: 2rem;
}

.padding-left-x-small {
  padding-left: 1rem;
}

.padding-right-small {
  padding-right: 2rem;
}

.padding-right-x-small {
  padding-right: 1rem;
}

.padding-small {
  padding: 2rem;
}

.padding-top-large {
  padding-top: 5rem;
}

.padding-top-medium {
  padding-top: 3rem;
}

.padding-top-small {
  padding-top: 2rem;
}

.padding-top-x-small {
  padding-top: 1rem;
}

.padding-vertical-large {
  padding: 5rem 0;
}

.padding-vertical-medium {
  padding: 3rem 0;
}

.padding-vertical-small {
  padding: 2rem 0;
}

.padding-x-small {
  padding: 1rem;
}