h1 {
  color: #565a5c;
  font-family: MuliRegular, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  color: #777;
  font-size: .95rem;
}

a.button {
  background: black;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: .85rem;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

a.button:visited {
  color: white;
  text-decoration: none;
}

a.button:hover {
  color: #cfb87c;
  text-decoration: none;
}

figcaption {
  text-align: center;
}

ul.disc>li {
  list-style-type: disc !important;
}

ul.no-left-margin,
ul.no-left-margin>li {
  margin-left: 0 !important;
}

.after-apply {
  display: table-row;
}

.after-apply section {
  display: table-cell;
  height: 130px;
  padding: 10px 20px;
  width: 30%;
}

.after-apply section:first-child {
  border-right: 1px solid #ddd;
}

.after-apply section:last-child {
  border-left: 1px solid #ddd;
}

.align-self-end {
  align-self: flex-end;
}

.around {
  justify-content: space-around;
}

.background-light-gray {
  background: whitesmoke;
}

.banner-image {
  height: auto;
  margin-bottom: 1.5rem;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.between {
  justify-content: space-between;
}

.block-display {
  display: block;
}

.center {
  text-align: center;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.e1-background {
  background: #e1e1e1;
}

.faux-link {
  color: #004D81;
}

.faux-link:hover {
  text-decoration: underline;
}

.flex-column {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.gold-background {
  background: #cfb87c;
}

.h2-style {
  color: #565a5c;
  font-family: MuliRegular, Helvetica, Arial, sans-serif;
  font-size: 2.5em !important;
  font-weight: bold;
  line-height: 100%;
}

.h3-style {
  color: #000;
  font-family: MuliLight, Helvetica, Arial, sans-serif;
  font-size: 2.08em !important;
  font-weight: normal;
  line-height: 120%;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.menu-vertical {
  border: 0;
}

.sidebarInfo dl {
  margin: 2px 6px;
}

.sidebarInfo dt {
  font-size: 1em;
  font-weight: bold;
  margin: 2px 2px 0 0;
  padding: 0;
}

.sidebarInfo dd {
  margin: -4px 0 0 10px;
  padding: 0;
}

.whitesmoke-background {
  background: whitesmoke;
}

#contentPage0 #columnPrimary {
  max-width: 912px;
}

#contentPage0 #columnPrimaryWrapper,
#contentPage2 #columnPrimary,
#tabsPage #columnPrimary,
#Welcome4 #columnPrimaryWrapper,
.whiteSidebarInfo {
  border: none;
}

#pageContentInner {
  border: 0;
}

#Welcome4 #columnPrimary .cta-button {
  margin: 2.5em auto 1em auto;
  float: none;
}

#Welcome4 #pageSplashImage {
  background: none;
}

#Welcome4 #pageSplashImage img {
  height: auto;
  width: 100%;
}



/************ Scholarship Page Table Overrides ************/

#pageContent #scholarshipTable table.ms-listviewtable td.ms-vb2 {
  border-bottom: 1px solid #e1e1e1;
}

#pageContent #scholarshipTable table.ms-listviewtable td {
  padding: 1.15rem .5rem .5rem 1rem
}



/************ Table Style Overrides ************/

th.ms-vh2 {
  color: #fff;
  padding-left: 5px;
}

.ms-alternating {
  background-color: #fff;
}

.table tr:nth-child(even) {
  background: #e1e1e1;
}

.table tr:nth-child(odd) {
  background-color: #fff;
}

table[summary="Upcoming Info Sessions "] td.ms-vb2 {
  padding: 0 !important;
}

table[summary="Upcoming Info Sessions "] tr.ms-viewheadertr {
  display:none;
}

table.ms-listviewtable tbody tr.ms-newsletteralt td,
table[summary="Upcoming Info Sessions "].ms-listviewtable tr:nth-child(2n) {
  background: #fff;
}

.accordion_body .table th {
  background: #d6cca6;
  color: #000;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.accordion_body .table th,
.accordion_body .table td {
  border-right: 1px solid #7C7E7F !important;
}

.accordion_body .table th:last-child,
.accordion_body .table td:last-child {
  border-right: 0 !important;
}

.accordion_body .table tbody tr {
  border-bottom: 1px solid #7C7E7F;
}

.accordion_body .table tbody tr:last-child {
  border-bottom: 0;
}

.accordion_body .table tr:nth-child(2n) {
  background: #fff;
}



/************ Loading Spinner ************/

.spinner {
  animation: spin 2s linear infinite;
  border: 5px solid #e1e1e1;
  border-radius: 50%;
  border-top: 5px solid #cfb87c;
  height: 30px;
  left: 50%;
  position: absolute;
  width: 30px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/************ Social Icon Overrides ************/

.hdSocial li a{
	height: 2.5em;
	width: 2.5em;
	overflow:hidden;
	display: block;
}

.hdSocial .socialOne{
  background: #fff url("http://www.ucdenver.edu/academics/colleges/nursing/PublishingImages/icons/facebook-icon.png") no-repeat scroll left center;
  margin-right: 5px;
}

.hdSocial .socialTwo{
  background: #fff url("http://www.ucdenver.edu/academics/colleges/nursing/PublishingImages/icons/twitter-icon.png") no-repeat scroll left center;
}



/**********************************************************

                    List Styles

**********************************************************/

ul.no-bullets {
  list-style-type: none !important;;
}

ul.column-list {
  display: flex;
  flex-wrap: wrap;
}

ul.column-list.four>li {
  width: 22.5%;
}

ul.column-list.three>li {
  width: 30%;
}

ul.column-list.two>li {
  width: 45%;
}



/**********************************************************

            Accordion Widget Overrides

**********************************************************/

/************ Inline Accordions ************/

#accordion .accordion_header {
  background: none;
  border: 1px solid #ddd !important;
  font-size: .85rem;
  font-weight: normal;
  line-height: normal;
  margin-top: .5rem;
  padding: 1rem;
  text-align: center !important;
}

#accordion .accordion_header:first-child {
  margin-top: 0;
}

#accordion .accordion_header:hover {
  border-color: #cfb87c !important;
}

#accordion .accordion_body {
  background: whitesmoke !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  color: #474A4C;
  padding: 1rem;
}

#accordion .active {
  background: none !important;
}



/************ Webpart Accordions ************/

.ms-WPBody h3.ui-accordion-header,
.ui-accordion-header {
  border: 1px solid #cecece;
  color: #474A4C;
  font-weight: normal;
  font-size: .85rem !important;
  line-height: initial;
  margin-top: .5rem;
  padding: 1rem;
  text-align: center;
}

.ms-WPBody h3.ui-accordion-header:first-child,
.ui-accordion-header:first-child {
  margin-top: 0;
}

h3.ui-accordion-header:hover,
.ms-WPBody .accordionWebPart h3.ui-state-active:hover,
.ui-accordion-header:hover {
  border-color: #cfb87c;
}

.ms-WPBody .accordionWebPart h3.ui-state-active {
  background: 0;
  background-color: #fff;
  border: 1px solid #cecece;
  color: #474A4C;
  font-weight: normal;
}

.ms-WPBody .ui-accordion-header span.iconSpace {
  margin-left: 0;
  text-align: center !important;
}

.ms-WPBody .ui-accordion-content h3,
.ms-WPBody .ui-accordion-content h4 {
  padding: 0 !important;
}

.ui-accordion-content {
  background: whitesmoke;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  color: #474A4C;
  padding: 1rem;
}

.ui-accordion-header .ui-icon {
  display: none;
}

.ui-state-active {
  background: #fff;
}



/**********************************************************

        Custom Styles for Programs Landing Page

**********************************************************/

#labelWrapper {
  margin: 2rem 0;
  text-align: center;
}

#programSorting input[type="radio"] {
  display: none;
  margin: 0;
}

#programSorting label {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 3px;
  min-width: 12%;
  padding: 10px;
  text-align: center;
}

#programSorting label:hover {
  cursor: pointer;
  background: #cfb87c;
}

#programSorting label.active {
  background: #cfb87c;
}



/******************** Program Cards ********************/

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  min-height: 170px;
}

.program-cards>div {
  margin-bottom: 2rem;
}

.program-cards .toggle-content a {
  background: #000;
  border-radius: 6px;
  color: white;
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  padding: .5rem;
}

.program-cards .toggle-content a:hover {
  color: #cfb87c;
  text-decoration: none;
}

.program-cards .toggle-content,
.program-cards .toggle-target {
  width: 355px;
}



/**********************************************************

        Custom Styles for Admissions Pages

**********************************************************/


.admissions#accordion {
  margin-top: 2rem;
}

.admissions#accordion .accordion_list {
  margin-bottom: 3rem;
}

.admissions#accordion .accordion_list>h3 {
  margin-bottom: 2rem;
}

.admissions.next-steps>h3 {
  margin-bottom: 2rem;
}

.admissions.next-steps>ul {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}



/**********************************************************

                    Next Steps

**********************************************************/

.next-steps {
  margin-top: 2rem;
}

.next-steps ul {
  list-style-type: none;
  margin-left: 0 !important;
  padding: 0;
  text-align: center;
}

.next-steps li {
  display: inline-block;
  margin: 0 !important;
}

.next-steps a {
  background: black;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: .85rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 135px;
}

.next-steps a:hover {
  color: #cfb87c;
  text-decoration: none;
}

.next-steps a.auto-width {
  width: auto;
}

.next-steps a.full-width {
  width: 100%;
}



/**********************************************************

              Custom Margins and Padding

**********************************************************/

/******************** Margins ********************/

.margin-bottom-large {
  margin-bottom: 5rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-x-small {
  margin-bottom: 1rem;
}

.margin-horizontal-large {
  margin-left: 5rem;
  margin-right: 5rem;
}

.margin-horizontal-medium {
  margin-left: 3rem;
  margin-right: 3rem;
}

.margin-horizontal-small {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-horizontal-x-small {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-x-small {
  margin-left: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-x-small {
  margin-right: 1rem;
}

.margin-top-large {
  margin-top: 5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-x-small {
  margin-top: 1rem;
}

.margin-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.margin-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.margin-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.margin-vertical-x-small {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}



/******************** Padding ********************/

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-bottom-large {
  padding-bottom: 5rem;
}

.padding-bottom-medium {
  padding-bottom: 3rem;
}

.padding-bottom-small {
  padding-bottom: 2rem;
}

.padding-bottom-x-small {
  padding-bottom: 1rem;
}

.padding-horizontal-large {
  padding-left: 5rem;
  padding-right: 5rem;
}

.padding-horizontal-medium {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-horizontal-small {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-horizontal-x-small {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-left-small {
  padding-left: 2rem;
}

.padding-left-x-small {
  padding-left: 1rem;
}

.padding-right-small {
  padding-right: 2rem;
}

.padding-right-x-small {
  padding-right: 1rem;
}

.padding-small {
  padding: 2rem;
}

.padding-top-large {
  padding-top: 5rem;
}

.padding-top-medium {
  padding-top: 3rem;
}

.padding-top-small {
  padding-top: 2rem;
}

.padding-top-x-small {
  padding-top: 1rem;
}

.padding-vertical-large {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.padding-vertical-medium {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.padding-vertical-small {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.padding-vertical-x-small {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.padding-x-small {
  padding: 1rem;
}



/**********************************************************

                  Custom Widths

**********************************************************/

.full-width {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-70 {
  width: 70%;
}

.width-65 {
  width: 65%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-45 {
  width: 45%;
}

.width-40 {
  width: 40%;
}

.width-35 {
  width: 35%;
}

.width-30 {
  width: 30%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 15%;
}

.width-10 {
  width: 10%;
}
