header {
  padding-left: 15px;
  padding-right: 15px;
  width: 55%;
}

header > * {
  margin: 0;
}

.card-image {
  padding: 10px;
  width: 85px;
}

.card-image img {
  border-radius: 50%;
  width: 100%;
}

.card-content {
  display: table-row;
}

.card-content > * {
  display: table-cell;
  vertical-align: middle;
}

.card-content ul {
  list-style-position: inside;
  padding-left: 10px;
}

.faculty-card {
  display: table;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

.faculty-card:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
