<link type="text/css" rel="stylesheet" href="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/faculty-directory/directory/directory-styles.css">
<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/angular-js/angularjs.min.js"></script>

<div data-ng-app="facultyDirectory" data-ng-controller="mainController">

  <main>
    <h1>Faculty Directory</h1>

    <div class="filters">

      <div>
        <label for="name">Search by Name</label>
        <input id="name" type="text" value="">
      </div>

      <div>
        <label for="expertise">Expertise</label>
        <select id="expertise">
          <option value=""></option>
        </select>
      </div>

      <div>
        <label for="clinic">Clinical Location</label>
        <select id="clinic">
          <option value=""></option>
        </select>
      </div>


    </div>

    <div data-ng-if="!dataLoaded && !loadError">
      <h2 class="center">Loading...</h2>
      <div class="spinner"></div>
    </div>

    <div data-ng-if="loadError" data-ng-cloak>
      <h2 class="center">Unable to Load Data</h2>
    </div>

    <div data-ng-if="dataLoaded && !loadError" data-ng-cloak>

      <section class="faculty-card" data-ng-repeat="x in data">
        <div class="card-content">
          <div class="card-image">
            <img data-ng-src="{{ x.headshot }}" alt="{{ x.name.firstName }} {{ x.name.lastName }}" data-ng-if="x.headshot !== null">
          </div>

          <header>
            <h2>{{ x.name.firstName }} {{ x.name.lastName }}, {{ x.degree }}</h2>
            <h3 style="font-size: 1.35em !important;">{{ x.title }}</h3>

            <h4 data-ng-if="x.specialty.text.length > 0">Area of Expertise:
              <a href="{{ x.specialty.url }}" data-ng-if="x.specialty.url.length > 10">{{ x.specialty.text }}</a>
              <span data-ng-if="x.specialty.url.length < 10">{{ x.specialty.text }}</span>
            </h4>

          </header>

          <ul>
            <li data-ng-if="x.phone">Phone: <a href="tel:{{ x.phone }}">{{ x.phone }}</a></li>
            <li data-ng-if="x.office">Office: Ed2 North Room {{ x.office }}</li>
            <li data-ng-if="x.email">Email: <a href="mailto:{{ x.email }}">{{ x.email }}</a></li>
            <li data-ng-if="x.page && x.page.indexOf('mailto') < 0"><a href="{{ x.page }}">View {{ x.name.firstName }}'s Biography</a></li>
          </ul>
        </div>
      </section>

    </div>

  </main>

</div>

<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/faculty-directory/directory/directory-scripts.js"></script>
