body {
  margin-top: 10rem;
}

.tooltip>ul>li {
  position: relative;
}

.tooltip-content {
  border: 1px solid #e1e1e1;
  display: none;
  left: 150px;
  padding: 1rem;
  position: absolute;
}

.tooltip-content ul {
  list-style-type: disc;
  padding-left: 10px;
  z-index: 10000;
}

.tooltip-target:hover {
  cursor: pointer;
}