/**************************************************************************
                  Custom Toggle Styles ~jrahm
**************************************************************************/

.toggle .toggle-content {
  background: whitesmoke;
  border: 1px solid #cecece;
  border-top: none;
  display: none;
  padding: 1rem;
}

.toggle .toggle-target {
  border: 1px solid #cecece;
  color: #474A4C;
  display: block;
  font-size: .85rem;
  font-weight: normal;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.toggle .toggle-target:hover {
  border-color: #cfb87c;
  cursor: pointer;
  text-decoration: none;
}

.toggle .toggle-wrapper {
  min-width: 250px;
}