body {
  margin: 0 auto;
  max-width: 960px;
  padding-top: 5rem;
}

figcaption {
  text-align: center;
}

.gallery-preview {
  height: 375px;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
}

.gallery-thumbnails img:hover {
  cursor: pointer;
  opacity: .4;
}

.gallery-thumbnails {
  text-align: center;
}

.gallery-thumbnails img.selected {
  opacity: .4;
}

.image-caption {
  display: block;
  margin-top: 5px;
}

.preview-wrapper {
  margin: 0 auto;
  max-height: 435px;
  width: 375px;
}

.preview-wrapper:hover {
  cursor: pointer;
}

.preview-wrapper figure {
  margin: 0;
}

.view-full-image {
  color: #565A5C;
  display: block;
  margin-top: .5rem;
  text-align: center;
}

/************* Lightbox ****************/

.lightbox {
  text-align: center;
  display: none;
  height:100%;
  width:100%;
  position:absolute;
  left:0;
  top:0;
}

.lightbox:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25rem;
}

.lightbox-close {
  color: #565A5C;
  font-size: 1.25rem;
  font-weight: bold;
  height: 20px;
  position: absolute;
  right: -20px;
  top: -10px;
  width: 20px;
}

.lightbox-close:hover {
  cursor: pointer;
}

.lightbox-content {
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;
  max-width: 900px;
  border: 20px solid #fff;
  height: auto;
  line-height: 0px;
  position: relative;
  opacity: 0;
}

.lightbox-content img {
  width: 100%;
}

.lightbox-content .image-caption {
  bottom: -10px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.overlay {
  opacity: 0;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  overflow: auto;
}



/************* Gallery Controls ****************/
/* https://codepen.io/fixcl/pen/Fkcot */

svg {
  padding: 5px;
}

button.arrow {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.arrow {
  display: inline-block;
  border-right: 4px solid #A2A4A3;
  border-bottom: 4px solid #A2A4A3;
  cursor: pointer;
  margin-top: -45px;
  position: absolute;
  top: 50%;
  width: 30px; 
  height: 30px;
}

.arrow.inactive {
  opacity: 0.5;
}

.arrow.inactive:hover {
  cursor: default;
}

.arrow.left {
  margin-left: -35px;
  transform: rotate(-225deg);
  left: 25%;
}

.lightbox .arrow span {
  color: #fff;
}

.arrow.left span {
  transform: rotate(225deg);
}

.arrow.right {
  transform: rotate(-45deg);
  right: 22%;
}

.lightbox .arrow {
  width: 50px; 
  height: 50px;
  z-index: 1000;
}

.lightbox .arrow.left {
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.lightbox .arrow.right {
  border-right-color: #fff;
  border-bottom-color: #fff;
}

