/**********************************************************

            Custom Styles for News Page

**********************************************************/

#localNav {
  float: left;
  width: 244px;
}

#localNav ul {
  list-style-type: none;
  margin: 0;
}

#localNav li {
  border-bottom: 1px #e1e1e1 solid;
  line-height: 150%;
  margin: 0 1.33em 0 1.33em;
  width: 166px;
}

#localNav li:last-child {
  border-bottom: 0;
}

#localNav li a {
  color: #000;
  display: block;
  padding: .5em .5em .5em 0;
  text-decoration: none;
  font-size: 16px;
}

#localNav li.active a,
#localNav li a:hover {
  color: #004d81 !important;
}

#mainContainer {
  float: right;
  width: 668px;
}

#mainContainer table.ms-listviewtable tr:nth-child(2n),
#mainContainer .ms-alternating {
  background: #fff;
}
