/* development notes/reminders to add missing links, TBD items, etc. */
/*.dev-note
{
    display: inline-block;
    background: #fc0 url(dev_note.png) no-repeat left center;
    border: solid 1px #c33;
    color: #000;
    padding: 0 4px 0 16px;
    margin: 0 4px;
    font-size: 9px;
    font-weight: bold;
}*/

/* end dev-note */

h1 {
  color: #565a5c;
  font-family: MuliRegular, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
}

.sidebarInfo dl {
  margin: 2px 6px;
}

.sidebarInfo dt {
  font-size: 1em;
  font-weight: bold;
  margin: 2px 2px 0 0;
  padding: 0;
}

.sidebarInfo dd {
  margin: -4px 0 0 10px;
  padding: 0;
}

#contentPage0 #columnPrimary {
  max-width: 912px;
}

#contentPage0 #columnPrimaryWrapper {
  border: none;
}

#Welcome4 #columnPrimary .cta-button {
  margin: 2.5em auto 1em auto;
  float: none;
}



/************ Scholarship Page Table Overrides ************/

#scholarshipTable .ms-v2,
#scholarshipTable .ms-vh2 {
  color: #fff;
}

#pageContent #scholarshipTable table.ms-listviewtable td.ms-vb2 {
  border-bottom: 1px solid #e1e1e1;
}

#pageContent #scholarshipTable table.ms-listviewtable td {
  padding: 1.15rem .5rem .5rem 1rem
}

#scholarshipTable table.ms-listviewtable tr:nth-child(2n),
#scholarshipTable .ms-alternating {
  background: #fff;
}



/**********************************************************
    
        Custom Styles for Programs Landing Page

**********************************************************/

.banner-image {
  height: auto;
  margin-bottom: 1.5rem;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.center {
  text-align: center;
}

#labelWrapper {
  margin: 2rem 0;
  text-align: center;
}

#programSorting input[type="radio"] {
  display: none;
  margin: 0;
}

#programSorting label {
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 3px;
  min-width: 12%;
  padding: 10px;
  text-align: center;
}

#programSorting label:hover {
  cursor: pointer;
  background: #cfb87c;
}

#programSorting label.active {
  background: #cfb87c;
}



/******************** Program Cards ********************/

.hidden {
  display: none;
}

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  min-height: 170px;
}

.program-cards>div {
  margin-bottom: 2rem;
  width: 350px;
}

.toggle-target,
.toggle-content,
.toggle-content a {
  display: block;
}

.toggle-content {
  background: whitesmoke;
  border: 1px solid #ddd;
  border-top: none;
  display: none;
  padding: 1rem .75rem;
  width: 100%;
}

.toggle-content a {
  background: #000;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  padding: .5rem;
}

.toggle-content a:hover {
  color: #cfb87c;
}

.toggle-target {
  color: #000;
  border: 1px solid #ddd;
  font-size: .85rem;
  padding: 1rem .75rem;
  width: 350px;
  text-align: center;
}

.toggle-target:hover {
  border-color: #cfb87c;
  cursor: pointer;
  text-decoration: none;
}



/******************** Next Steps ********************/

.next-steps {
  margin-top: 2rem;
}

.next-steps ul {
  display: flex;
  list-style-type: none;
  margin-left: 0 !important;
  padding: 0;
}

.next-steps li {
  margin: 0 !important;
}

.next-steps a {
  background: black;
  color: white;
  display: inline-block;
  font-size: .85rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.next-steps a:hover {
  color: #cfb87c;
  text-decoration: none;
}