#bioContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#bioContainer h1 {
  color:#565a5c;
  font-family: MuliRegular, Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:2.5rem;
  line-height:100%;
}

#bioContainer h2 {
  color: #000;
  font-family: MuliLight, Helvetica, Arial, sans-serif;
  font-size: 2.08em;
  font-weight: normal;
  line-height: 120%;
  margin: 6px 0 12px 0;
}

#bioContainer header h2 {
  color: #565a5c;
  font-size: 2.25em;
  font-style: italic;
}

aside {
  margin-top: 14px;
  width: 25%;
}

aside ul {
  list-style-type: none;
  margin-left: 0;
}

aside ul li {
  margin: 0;
}

blockquote {
  border-bottom: 3px solid #d6cca6;
  border-top: 3px solid #d6cca6;
  margin: 3rem 0;
  padding: 2.5rem 1rem;
  text-align: center;
}

blockquote q {
  quotes: initial;
  font-size: 1.15rem;
  font-style: italic;
  margin: 0;
}

 blockquote q:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  vertical-align: -0.4em;
  padding-right: 10px;
}

blockquote q:after {
  content: "";
}

main {
  width: 70%;
}

main > * {
  margin-bottom: 3rem;
}

main > *:last-child {
  margin-bottom: 0;
}

.promoted-news {
  border-top: 3px solid #d6cca6;
  margin-top: 3rem;
  padding: 1rem;
}

.promoted-news a {
  display: block;
}

#imageContainer {
  height: 206px;
  margin: 0 auto 1rem;
  max-width: 156px;
  text-align: center;
}

#imageContainer > img {
  width: 100%;
}

