/**************************************************************************
                  Custom Clinic Locator Styles ~jrahm
**************************************************************************/

.clinics .clinic-card>h2 {
  width: 100%;
}

.clinics .clinic-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}