/**************************************************************************
                  Custom Clinic Locator Styles ~jrahm
**************************************************************************/

#clinics {
  display: none;
}

#clinics .clinic-card>h2 {
  width: 100%;
}

#clinics .clinic-card {
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem 2rem 4rem;
}

#clinics .clinic-card h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#clinics .clinic-card .hours {
  width: 25%;
}

#clinics .clinic-card .location {
  width: 25%;
}

#clinics .clinic-card .services {
  width: 30%;
}

#clinicMap {
  height: 490px;
  margin-bottom: 1.5rem;
  width: 100%;
}

/*************************** Sharepoint Table Data Option ***************************/

#clinics table.ms-listviewtable tr:nth-child(2n),
#clinics .ms-alternating {
  background: #fff;
}

#clinics .ms-viewheadertr.ms-vhltr{
  display: none;
}