/**************************************************************************
                  Custom Clinic Locator Styles ~jrahm
**************************************************************************/

.clinics .clinic-card>h2 {
  width: 100%;
}

.clinics .clinic-card {
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem 2rem 4rem;
}

.clinics .clinic-card:last-child {
  border-bottom: 0;
}

.clinics .clinic-card h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.clinics .clinic-card .hours {
  width: 25%;
}

.clinics .clinic-card .location {
  width: 25%;
}

.clinics .clinic-card .services {
  width: 30%;
}

#clinicMap {
  height: 490px;
  margin-bottom: 1.5rem;
  width: 100%;
}