<link rel="stylesheet" href="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/program-finder/program-finder-styles.css">
<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/angular-js/angularjs.min.js"></script>

<h1>College of Nursing Degrees and Programs</h1>
<div class="margin-top-medium" data-ng-app="programFinder">
  <div data-ng-controller="mainController">
    <div id="sortContainer" data-ng-cloak>

      <aside>

        <div class="border-bottom-gold">

          <div class="filter-group">
            <span class="filter-header">Desired Outcome</span>
            <label for="{{ degree }}" data-ng-repeat="degree in degreeGroup | custOrder:'degree'">
              <input id="{{ degree }}" type="checkbox" data-ng-model="useDegree[degree]">{{ degree }}
              <span>({{ (filteredPrograms | filter:count('degree', degree)).length }})</span>
            </label>
          </div>

          <div class="filter-group">
            <span class="filter-header">Your Current Degree</span>
            <label data-ng-repeat="level in levelGroup | custOrder:'level'" data-ng-if="level !== null">
              <input type="checkbox" data-ng-model="useLevel[level]">{{ level }}
              <span>({{ (filteredPrograms | filter:count('level', level)).length }})</span>
            </label>
          </div>

          <div class="filter-group">
            <span class="filter-header">Ideal Learning Format</span>
            <label data-ng-repeat="format in formatGroup | orderBy:format" data-ng-if="format !== null">
              <input type="checkbox" data-ng-model="useFormat[format]">{{ format }}
              <span>({{ (filteredPrograms | filter:count('format', format)).length }})</span>
            </label>
          </div>

          <div class="filter-group">
            <span class="filter-header">Graduate Specialty</span>
            <label data-ng-repeat="specialty in specialtyGroup | orderBy:specialty" data-ng-if="specialty !== null">
              <input type="checkbox" data-ng-model="useSpecialty[specialty]">{{ specialty }}
              <span>({{ (filteredPrograms | filter:count('specialty', specialty)).length }})</span>
            </label>
          </div>

        </div>


        <section>
          <h4>Speak to an Advisor</h4>
          <p>To book an appointment with one of our academic advisors, please click on the link below.</p>
          <a class="button" href="https://booknow.appointment-plus.com/y9ltsxxy/" target="_blank">Book Appointment</a>
        </section>

      </aside>

      <main>

        <div id="programCards">
          <div class="program-card" data-ng-repeat="x in filteredPrograms track by $index">
            <div class="card-title">
              <span>{{ x.name }}</span>
            </div>
            <div class="card-body">
              <ul>
                <li><strong>Outcome:</strong> {{ x.degree }}</li>
                <li data-ng-if="x.format"><strong>Learning Format:</strong> {{ x.format }}</li>
                <li data-ng-if="x.level"><strong>Required for Entry:</strong> {{ x.level }}</li>
                <li data-ng-if="x.specialty">
                  <strong>Graduate Specialty:</strong><br>
                  {{ x.specialty }}
                </li>
              </ul>
              <a href="{{ x.page }}">Visit {{ x.name }} Page</a>
            </div>
          </div>

        </div>

      </main>

    </div>

  </div>
</div>

<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/program-finder/program-finder-scripts.js"></script>
