<link rel="stylesheet" href="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/program-finder/program-finder-styles.css">
<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/angular-js/angularjs.min.js"></script>

<h1>College of Nursing Degrees and Programs</h1>
<div class="margin-top-medium" data-ng-app="programFinder">
  <div data-ng-controller="mainController" data-ng-cloak>

    <div data-ng-if="!dataLoaded">
      <h2 class="center">Loading...</h2>
      <div class="spinner"></div>
    </div>

    <div data-ng-if="loadError">
      <h2 class="center">Unable to Load Data</h2>
    </div>

    <div id="sortContainer" data-ng-if="dataLoaded">

      <aside>

        <section class="border-bottom-gold margin-bottom-medium">

          <h2 class="border-bottom-gold flex-container between">Refine Results<span title="Reset Results" class="reset-icon" data-ng-click="resetResults()" aria-label="Reset"></span></h2>

          <section class="filter-group">
            <h3 style="font-size: 1.5em !important;">Desired Outcome</h3>
            <label for="degree{{$index}}" data-ng-repeat="degree in degreeGroup | custOrder:'degree'">
              <input id="degree{{$index}}" type="checkbox" data-ng-model="useDegree[degree]">
              <span class="label-text">{{ degree }}</span>
              <span class="result-count">({{ (filteredPrograms | filter:count('degree', degree)).length }})</span>
            </label>
          </section>

          <section class="filter-group">
            <h3 style="font-size: 1.5em !important;">Your Current Degree</h3>
            <label for="level{{$index}}" data-ng-repeat="level in levelGroup | custOrder:'level'" data-ng-if="level !== null">
              <input id="level{{$index}}" type="checkbox" data-ng-model="useLevel[level]">
              <span class="label-text">{{ level }}</span>
              <span class="result-count">({{ (filteredPrograms | filter:count('level', level)).length }})</span>
            </label>
          </section>

          <section class="filter-group">
            <h3 style="font-size: 1.5em !important;">Ideal Learning Format</h3>
            <label for="format{{$index}}" data-ng-repeat="format in formatGroup | orderBy:format" data-ng-if="format !== null">
              <input id="format{{$index}}" type="checkbox" data-ng-model="useFormat[format]">
              <span class="label-text">{{ format }}</span>
              <span class="result-count">({{ (filteredPrograms | filter:count('format', format)).length }})</span>
            </label>
          </section>

          <section class="filter-group">
            <h3 style="font-size: 1.5em !important;">Graduate Specialty</h3>
            <label for="specialty{{$index}}" data-ng-repeat="specialty in specialtyGroup | orderBy:specialty" data-ng-if="specialty !== null">
              <input id="specialty{{$index}}" type="checkbox" data-ng-model="useSpecialty[specialty]">
              <span class="label-text">{{ specialty }}</span>
              <span class="result-count">({{ (filteredPrograms | filter:count('specialty', specialty)).length }})</span>
            </label>
          </section>

        </section>

        <section>
          <h2>Speak to an Advisor</h2>
          <p>To book an appointment with one of our academic advisors, click on the link below.</p>
          <a class="button" href="https://booknow.appointment-plus.com/y9ltsxxy/" target="_blank">Book Appointment</a>
        </section>

      </aside>

      <main>
        <h2 class="center">Explore Learning Opportunities</h2>
        <div id="programCards">

          <div class="program-card" data-ng-repeat="x in filteredPrograms track by $index">
            <div class="card-title">
              <span>{{ x.name }}</span>
            </div>
            <div class="card-body">
              <ul>
                <li><strong>Outcome:</strong> {{ x.degree }}</li>
                <li data-ng-if="x.format"><strong>Learning Format:</strong> {{ x.format }}</li>
                <li data-ng-if="x.level"><strong>Required for Entry:</strong> {{ x.level }}</li>
                <li data-ng-if="x.specialty">
                  <strong>Graduate Specialty:</strong><br>
                  {{ x.specialty }}
                </li>
              </ul>
              <a href="{{ x.page }}">Visit {{ x.name }} Page</a>
            </div>
          </div>

        </div>
      </main>

    </div>

  </div>
</div>

<script type="text/javascript" src="http://www.ucdenver.edu/academics/colleges/nursing/Documents/Styles_Scripts/program-finder/program-finder-scripts.js"></script>
