h1 {
  color: #565a5c !important;
  font-family: MuliRegular,Helvetica,Arial,sans-serif !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  line-height: 100% !important;
}

main {
  width: 70%;
}

main > h2 {
  font-weight: normal !important;
  font-size: 1.65rem !important;
  margin-bottom: 2.5rem !important;
}

.border-bottom-gold {
  border-bottom: 3px solid #d6cca6;
}

#sortContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#visWrapper {
  display: none;
}



/*******************************************
  Card Styles
*******************************************/

.card-body {
  padding: 10px;
}

.card-body a {
  bottom: 0;
  display: block;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
}

.card-body a:hover {
  text-decoration: underline !important;
}

.card-body a:visited {
  color: #0072bc;
}

.card-title {
  background: #d6cca6;
  display: table;
  height: 50px;
  width: 100%;
}

.card-title > span {
  color: #4c4b44;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
}

.program-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 275px;
  margin-bottom: 2rem;
  position: relative;
  width: 45%
}

.program-card:nth-child(2n) .card-title > span {
  border-right: 1px solid #d6cca6;
  border-radius: 4px;
}

#programCards {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}



/*******************************************
  Filter Styles
*******************************************/

aside {
  width: 25%;
}

aside h2 {
  font-weight: normal;
  font-size: 1.65rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

aside h3 {
  color: #565a5c;
  font-weight: bold;
  font-size: 1rem !important;
  font-weight: bold;
}

aside label {
  cursor: pointer;
  display: block;
  padding: 5px 0;
}

aside section {
  margin-bottom: 2rem;
}

aside section:last-child {
  margin-bottom: 0;
}



/*******************************************
  Animations
*******************************************/

.program-card.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  height: 0;
  opacity: 0;
  left: -50px;
}

.program-card.ng-enter-active {
  height: 275px;
  opacity: 1;
  left: 0;
}

.program-card.ng-leave {
  -webkit-animation: 0.5s fadeCollapse;
  -moz-animation: 0.5s fadeCollapse;
  -o-animation: 0.5s fadeCollapse;
  animation: 0.5s fadeCollapse;
}

@keyframes fadeCollapse {
  from {
    height: 275px;
    opacity: 1;
    left: 0;
  }
  to {
    height: 0;
    opacity: 0;
    left: -50px;
  }
}
